@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #1f1f1f;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #f1f1f1;
    padding: 0;
    margin: 0;
}

#logo {
    margin: 5% auto;
    display: block;
    height: auto;
    width: 32%;
}

#conocimientos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#conocimientos .icon {
    margin: 0 10px;
}

.icon {
    width: 25px;
}

.info {
    margin-bottom: 50;
    text-align: center;
    font-size: 1.5em;
}

.categoria {
    margin: 0 50px;
    font-size: 1.5em;
}

.card {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#myAlert {
    display: flex;
    justify-content: center;
    align-items: center;
}


#myAlert, #myAlert2 {
    width: 100%;
    margin-top: 20px;
}

cardRow {
    display: flex;
    flex-direction: row;
}

/* Responsiveness */
@media (max-width: 668px) {
    #logo {
        width: 70%;
    }

    .info {
        font-size: 1.2em;
    }
}