* {
    padding: 0;
    margin: 0;
    font-family: "DM Mono", monospace;
    text-decoration: none;
    color: #000000;
}

.Topbar {
    overflow: hidden;
    display: flex;
    padding: 2% 0px;
    background-color: #e45757;
    text-align: center;
    font-size: 150%;
    box-shadow: 0px 5px 10px #bd4848;
}

.img {
    margin-right: 20px;
    background-image: url("images/image1.jpg");
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
}

.title {
    margin: auto;
}

.back {
    margin-left: 20px;
    width: 20px;
    transition: transform 0.3s ease;
}

.back::after, .back::before {
    content: "<";
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.back:hover {
    transform: translate(0px, 0px);
}

.back:hover::after{
    transform: translate(-12px, 0px);
}

.back:hover::before{
    transform: translate(12px, 0px);
}
.row {
    display: flex;
}

.win, .winpro, .winlar {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width: 45%;
    height: 200px;
    padding: 1px;
    transition: transform 0.5s ease;
}

.winpro {
    height: 100px;
}

.winlar {
    width: 95%;
}

.win:hover, .winpro:hover, .winlar:hover {
    transform: scale(1.05);
}

.image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px;
    margin-bottom: 0px;
    background-color: #000000;
    background-size: cover;
}

.image1 {
    background-image: url("images/image1.jpg");
}

.image2 {
    background-image: url("images/image2.jpg");
}

.image3 {
    background-image: url("images/image3.png");
}

.text h1, p {
    margin-left: 20px;
    margin-top: 10px;
}

/* "Apps" */

.win1 {
    background-color: #e45757;
    box-shadow: 0px 5px 10px #bd4848;
}

.win2 {
    background-color: #e4b257;
    box-shadow: 0px 5px 10px #bd9b48;
}

.win3 {
    background-color: #57b2e4;
    box-shadow: 0px 5px 10px #489bbd;
}

.win4 {
    background-color: #57e4b2;
    box-shadow: 0px 5px 10px #48bd9b;
}

.win5 {
    background-color: #b257e4;
    box-shadow: 0px 5px 10px #9b48bd;
}

.content {
    background-color: #ccc;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    padding-top: 8px;
    padding-bottom: 20px;
}

.lorem {
    margin-top: 50px; 
}